{% extends "layout.html" %}
{% block title %}
{{ student[0]["Name"] }}
{% endblock %}

{% block main %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ student[0]['PhotoPath'] }}" alt="avatar" class="rounded-circle img-fluid"
                            style="width: 150px; height: 150px">
                        <h5 class="my-3">{{ student[0]['FirstName'] }}</h5>
                    </div>
                </div>
                {% if student[0]['Twitter'] or student[0]['LinkedIn'] %}
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            {% if student[0]['Twitter'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="{{ student[0]['Twitter'] }}">
                                    <p class="mb-0">Click here to visit my Twitter</p>
                                </a>
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                            </li>
                            {% endif %}

                            {% if student[0]['LinkedIn'] %}
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <a href="{{ student[0]['LinkedIn'] }}">
                                    <p class="mb-0">Click here to visit my LinkedIn</p>
                                </a>
                                <i class="fab fa-linkedin fa-lg" style="color: #3b5998;"></i>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student[0]['FirstName'] }} {{ student[0]['LastName'] }}
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Department</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ student[0]['Program'] }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Contact Email</p>
                            </div>
                            <div class="col-sm-9">
                                <a class="mail-to" href="mailto:{{ student[0]['Email'] }}">
                                    {{ student[0]['Email'] }}
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">INTERESTS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for std in std_interests %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td style="text-align:center">{{ std["InterestName"] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}